# .gitignore for rust-bellscoin repository workspace.

# Lock files
Cargo.lock
internals/Cargo.lock
bellscoin/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
bellscoin/target
hashes/target

# Test artifacts
bellscoin/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
